$main-color: #0c0c0c;
$main-color-text: #ffffff;
$bg-color: #222222;
$bg-panel: #1a1a1a;
$item-active: #e49f2a;
$item: #bababa;
$title-search: #161b1d;
$title-search-hover: #2f3436;
$search-bg: #202629;
