@import './../../styles/variables.scss';

.searchIn {
	background-color: $bg-color !important;
	color: $main-color-text;
	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: $main-color-text;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: $main-color-text;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: $main-color-text;
	}
	:focus {
		color: $main-color-text;
	}
}

.btnIcon {
	background-color: transparent !important;
	:hover {
		background-color: transparent !important;
	}
}
.css-1x7jfmm-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
	background-color: $bg-color !important;
	color: $item !important;
}

.searchBox {
	position: absolute;
	height: fit-content;
	min-height: 12vh;
	max-height: 32vh;
	min-width: 24vw;
	width: fit-content;
	background-color: $search-bg;
	z-index: 9999999999;
	top: 5.5vh;
	left: 38vw;
	border-radius: 8px;
	overflow-y: scroll;

	.loader {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: absolute;
		top: 3vh;
		left: 11.5vw;
		animation: rotate 1s linear infinite;
	}
	.loader::before,
	.loader::after {
		content: '';
		box-sizing: border-box;
		position: absolute;
		inset: 0px;
		border-radius: 50%;
		border: 5px solid #fff;
		animation: prixClipFix 2s linear infinite;
	}
	.loader::after {
		transform: rotate3d(90, 90, 0, 180deg);
		border-color: #ff3d00;
	}

	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes prixClipFix {
		0% {
			clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
		}
		50% {
			clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
		}
		75%,
		100% {
			clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
		}
	}

	.title {
		width: 100%;
		height: 6vh;
		font-size: 1.2rem;
		background-color: $title-search;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card-container:hover .card {
		background-color: $title-search-hover;
	}
	.card {
		width: 100%;
		height: fit-content;

		display: flex;
		align-items: center;
		justify-content: start;
		padding-left: 2vw;
		gap: 2vw;
		overflow-y: scroll;

		.image {
			height: 9vh;
			object-fit: contain;
			box-sizing: border-box;
			margin-top: 0.7vh;
			margin-bottom: 0.5vh;

			img {
				height: 8vh;
			}
		}
	}
}
