@import '../../styles/variables.scss';

.headerContainer {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr 15fr 12fr 5fr;

	grid-template-areas: 'widget logo search empty panelRight';
	align-items: center;

	.widget {
		grid-area: widget;
		color: white;
	}
	.logo {
		grid-area: logo;
		color: white;
	}
	.search {
		display: flex;
		justify-content: start;
		align-items: center;
		grid-area: search;
		color: white;
	}
	.empty {
		grid-area: empty;
		color: white;
	}
	.panelRight {
		width: 90%;
		grid-area: panelRight;
		color: white;
		display: flex;
		justify-content: end;
	}
}
